html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background-color: #eee;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* --------------------------------- MY CODE ---------------------------------- */


* {
    box-sizing: border-box;
  }
  
  /* ------------- Text ------------ */
  
  
  
  /*
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-family: 'IBM Plex Serif', serif;
  */
  
  
  
  .fonts{
    width: 100%;
    text-align: center;
  }
  
  h1 {
    font-family: 'IBM Plex Sans', bold;
    text-transform: uppercase;
    text-shadow: #000 1px 1px;
    line-height: 54px;
    font-size: 42px;
  }
  
  h2 {
    font-family: 'IBM Plex Sans';
    text-transform: uppercase;
    font-size: 62px;
    font-weight: 600;
  }
  
  h3 {
    font-family: 'IBM Plex Serif';
    font-size: 32px;
    line-height: 34px;
    font-weight: 500;
  }
  
  h4 {
    font-family: 'IBM Plex Sans';
    font-size: 32px;
    font-weight: 400;
  }
  
  h5 {
    font-family: 'IBM Plex Sans';
    font-size: 28px;
    font-weight: 300;
  }
  
  h6 {
    font-family: 'IBM Plex Serif';
    font-size: 10px;
    line-height: 12px;
    font-weight: 300;
  }
  
  p{
    font-family: 'IBM Plex Serif';
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
  }
  
  a{
    font-family: 'IBM Plex Sans';
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
  }
  
  
  
  /* -----------------------  Style the body  ------------------*/
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  .container {
    max-width: 1920px;
  }
  
  @media screen and (min-width: 1921px) {
    .container {
    margin-left: calc(calc(100% - 1920px)/2);
    }
  }
  

/* ----------------------------------- Header/logo Title ----------------------------------- */

.header {
  padding: 87.5px 0px 112.5px 0px;
  border-bottom: 2px solid #000;
  text-align: center;
  color: #eee;
  background-image: url("header_img.jpg");
  background-color: #222;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

.header img{
  width: 350px;
  height: auto;
  padding: 25px;
  border-radius: 100%;
  }

h1 {
  line-height: 50px;
  font-size: 32px;
  }


/* --------- Main ----------*/

.maintxt{
  margin: auto;
  padding: 200px 0px;
  width: 500px;
  text-align: center;
  color: #222;
}


.mainsocial{  
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  margin:auto;
  }
    
.mainsocialdiv {
  flex: 33%;
  position: relative;
  margin: auto;
  text-align: center;
}
  
.social_img {
  max-width: 60%;
  margin: auto;
  height: auto;
}

h2 {
  font-family: 'IBM Plex Sans';
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
}
  
h3 {
  font-family: 'IBM Plex Serif';
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
}

  p{
    font-family: 'IBM Plex Serif';
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
  }

  /* ----------------------------------- Footer ----------------------------------- */

.footer {
    padding: 500px 0px 300px 0px;
    text-align: center;
    color: #555;
  }